.container {
  width: 100%;
  padding-left: 100px;
  max-width: 700px;
  padding: 20px;
  box-sizing: border-box;
  text-align: left; /* Ensure left alignment */

  }
  .question {
    font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  white-space: normal;
 
  }
  .mv-3{
    align-items: center;
  }
  
  .options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .options label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .options.submitted {
    background-color: #43cf10;
    border-radius: 4px;
    padding: 5px;
  }
  
  input[type="radio"] {
    accent-color: #26ff00;
    transform: scale(1.2);
    margin-right: 8px;
  }
  
  button {
    
    
    background-color: #907226;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover{
    background-color: #26ff00;
  }
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #25c509;
  }
