
 body {
    background-color: blanchedalmond;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .main{
    background-color: blanchedalmond !important;  /* <- Force your background color */
    min-height: 100vh; /* Ensure it fills the full screen */
    width: 100%;
    padding: 20px;
  }
.container-heading{
    font-size: 1em;
    color: rgb(82, 32, 32);
    font-weight: 400;
    position: relative;
    padding: 0px;
    text-transform: uppercase;
    z-index: 1;
    outline: #28a745;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.containerMain {
    
    background-size:cover;
    color: rgb(0, 0, 0);
    min-height: 100vh;
    padding: 20px;
}
.containerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    flex-direction: column;
    gap: 30px;
}
.inputBox{
    position: relative;
    width: 250px;

}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 2px solid #696969;
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
    
}
.inputBox input:hover {
    transform: translateY(2px); 
    box-shadow: 0 0 10px rgb(82,32, 32); 
}
.inputBox label{
    position: absolute;
    top: 0px;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color: #555;
    text-transform: uppercase;
    font-size: 1em;
    transition: 0.5s;

}
.inputBox input:valid~ label,
.inputBox input:focus~ label
{
    
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    border-left: 1px solid #47240b;
    border-right: 1px solid #47240b;
    letter-spacing: 0.2em;
    background:#47240b;
    color: #dac8c8;
    border-radius: 8px;
}




.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid #47240b;
    box-shadow: 0 0 10px rgb(82,32, 32); 
}
.error-text {
    color: rgb(208, 12, 12);
    font-size: 0.675rem;
    margin-top: 4px;
}
.file-upload-row {
    display: flex;
 
   
    
   
}

.file-upload input[type="file"] {
    display: block;
    width: 100%;
    color: #5e0000;
    background: transparent;
    border-color: #482f1b;
    border-width:.5mm;
}

.file-upload label {
  
  color: rgb(88, 43, 43);
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  transition: background 0.3s ease;
 
}



.file-upload .file-name {
  margin-top: 8px;
  font-size: 0.9em;
  color: #ccc;
}




.image-preview {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
  
  .image-preview img {
    border-radius: 5px;
    border: 1px solid #ddd;
    object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ddd;
  }
  

  .submit-button {
    text-align: center;
  }
  

  @media (max-width: 500px) {
    .containerMain {
      padding: 20px 15px;
    }
    .inputBox, .file-upload {
        width: 100%;
      }
    }
